{{- define "build-pipeline-docker-image-build-push-common" -}}
- name: container-build
  taskRef:
    kind: Task
    name: {{ .Values.tekton.containerBuildTool }}
  runAfter:
    - dockerfile-lint
  params:
    - name: codebase-name
      value: "$(params.CODEBASE_NAME)"
    - name: image-tag
      value: "$(tasks.get-version.results.IS_TAG)"
    - name: image-tar
      value: "$(params.CODEBASE_NAME)_$(tasks.get-version.results.IS_TAG)"
  workspaces:
    - name: source
      workspace: shared-workspace
      subPath: source
{{- end -}}

{{- define "dockerbuild-verify-docker" -}}
- name: dockerbuild-verify
  taskRef:
    kind: Task
    name: dockerbuild-verify-{{ .Values.tekton.containerBuildTool }}
  runAfter:
    - dockerfile-lint
  workspaces:
    - name: source
      workspace: shared-workspace
      subPath: source
{{- end -}}
