apiVersion: v2
description: A Helm chart for EDP Tekton Interceptor
home: https://epam.github.io/edp-install/
name: edp-tekton-interceptor
type: application
version: 0.2.4
appVersion: 0.2.4
icon: https://epam.github.io/edp-install/assets/logo.png
keywords:
  - edp
  - tekton
  - cd-pipeline
  - pipelines
  - go
  - interceptor
  - gerrit
maintainers:
  - name: epmd-edp
    email: SupportEPMD-EDP@epam.com
    url: https://solutionshub.epam.com/solution/epam-delivery-platform
  - name: sergk
    url: https://github.com/SergK
sources:
  - https://github.com/epam/edp-tekton
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/operatorCapabilities: Basic Install
  artifacthub.io/links: |
    - name: EDP Documentation
      url: https://epam.github.io/edp-install/
    - name: EPAM SolutionHub
      url: https://solutionshub.epam.com/solution/epam-delivery-platform
