{{ if .Values.pipelines.deployableResources.tasks }}
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: deploy-applicationset-cli
spec:
  description: |
    This task is used to deploy Codebases across specific Stage using ApplicationSet object.

  params:
    - name: APPLICATIONS_PAYLOAD
      description: |
        Applications payload in format: {"codebase1": {"imageTag": "version1", "customValues": true}, "codebase2": {"imageTag": "version2", "customValues": true}}. For example: {"demo": {"imageTag": "main-20240103-141431", "customValues": true}, "myapp": {"imageTag": "0.1.0-SNAPSHOT.1", "customValues": true}}
      type: string
    - name: PIPELINE
      type: string
      description: |
        KRCI kind:CDPipeline name used for deployment. For example: mypipe, myfeature
    - name: STAGE
      description: |
        KRCI kind:Stage name of the kind:CDPipeline defined in the CDPIPELINE values. For example: dev, test, prod
      type: string
  results:
    - description: APPLICATIONS_PAYLOAD
      name: APPLICATIONS_PAYLOAD
      type: string
  steps:
    - name: wait-for-deploy
      image: {{ include "edp-tekton.registry" . }}/epamedp/tekton-cd-pipeline:0.1.4
      env:
        - name: ARGOCD_URL
          valueFrom:
            secretKeyRef:
              name: ci-argocd
              key: url
        - name: ARGOCD_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: ci-argocd
              key: token
      envFrom:
        - configMapRef:
            name: $(params.PIPELINE)-$(params.STAGE)
      script: |
        set -ex

        export ARGOCD_OPTS="--core=false --grpc-web"
        # the address of the Argo CD server without https:// prefix
        export ARGOCD_SERVER=${ARGOCD_URL#*//}

        pipeline=$(params.PIPELINE)
        stage=$(params.STAGE)
        # quotes are important here
        new_tags='$(params.APPLICATIONS_PAYLOAD)'

        selector="app.edp.epam.com/stage=$(params.STAGE),app.edp.epam.com/pipeline=$(params.PIPELINE)"

        patch=$(kubectl get applicationset $pipeline -o json | jq --argjson updates "$new_tags" --arg stage $stage '
          .spec.generators[0].list.elements |= map(
            if (.stage == $stage) and (.codebase | IN($updates | keys[])) then
              .imageTag = $updates[.codebase].imageTag
              # Update customValues field if customValues is true in payload
              | .customValues = if ($updates[.codebase].customValues == true) then true elif ($updates[.codebase].customValues == false) then false else .customValues end
            else
              .
            end
          )
        ')

        kubectl patch applicationset $pipeline --type=merge -p "$patch"

        # Delay to ensure the Argo CD Application controller has enough time to process the updated ApplicationSet resource.
        sleep 5

        argocd app list -l $selector

        argocd app sync -l $selector --prune --timeout 300
        # TODO: we build our custom argocd-cli that has fixed issue with argocd app wait
        argocd app wait -l $selector --health --sync

        printf "%s" "${new_tags}" > "$(results.APPLICATIONS_PAYLOAD.path)"
{{ end }}
