apiVersion: v2
description: A Helm chart for EDP Tekton Pipelines
home: https://epam.github.io/edp-install/
name: edp-tekton
type: application
version: 0.2.9
appVersion: 0.2.9
icon: https://epam.github.io/edp-install/assets/logo.png
keywords:
  - edp
  - tekton
  - cd-pipeline
  - pipelines
  - jira
  - ci
  - cd
  - promote
  - git
  - gerrit
  - github
  - gitlab
maintainers:
  - name: epmd-edp
    email: SupportEPMD-EDP@epam.com
    url: https://solutionshub.epam.com/solution/epam-delivery-platform
  - name: sergk
    url: https://github.com/SergK
sources:
  - https://github.com/epam/edp-tekton
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/operatorCapabilities: Basic Install
  artifacthub.io/links: |
    - name: EDP Documentation
      url: https://epam.github.io/edp-install/
    - name: EPAM SolutionHub
      url: https://solutionshub.epam.com/solution/epam-delivery-platform

# we use templates from common library
dependencies:
  - name: edp-tekton-common-library
    version: 0.2.4
    repository: https://epam.github.io/edp-helm-charts/stable
  - name: edp-tekton-interceptor
    version: 0.2.4
    repository: https://epam.github.io/edp-helm-charts/stable
    condition: edp-tekton-interceptor.enabled
  - name: edp-tekton-dashboard
    version: 0.31.1
    repository: https://epam.github.io/edp-helm-charts/stable
    condition: edp-tekton-dashboard.enabled
