{{ if has "bitbucket" .Values.global.gitProviders }}
apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerBinding
metadata:
  name: bitbucket-binding-build
  labels:
    {{- include "edp-tekton.labels" . | nindent 4 }}
spec:
  params:
    - name: gitrevision
      value: $(extensions.targetBranch)
    - name: gitsha
      value: $(extensions.pullRequest.headSha)
    - name: gitrepositoryurl
      value: "git@bitbucket.org:$(body.repository.full_name).git"
    - name: gitrepositoryname
      value: $(body.repository.name)
    - name: gitfullrepositoryname
      value: "$(body.repository.full_name)"
    - name: codebase
      value: "$(extensions.codebase)"
    - name: codebasebranch
      value: "$(extensions.codebasebranch)"
    - name: changeNumber
      value: "$(extensions.pullRequest.changeNumber)"
    # commitMessage is used for 'push-to-jira' Task
    - name: commitMessage
      value: "$(extensions.pullRequest.lastCommitMessage)"
    # commitMessagePattern is used for 'commit-validate' Tasks
    - name: commitMessagePattern
      value: "$(extensions.spec.commitMessagePattern)"
    # jiraIssueMetadataPayload is used for 'push-to-jira' Task
    - name: jiraIssueMetadataPayload
      value: "$(extensions.spec.jiraIssueMetadataPayload)"
    # ticketNamePattern is used for 'push-to-jira' Task
    - name: ticketNamePattern
      value: "$(extensions.spec.ticketNamePattern)"
    # jiraServer is used for 'push-to-jira' Task
    - name: jiraServer
      value: "$(extensions.spec.jiraServer)"
    # get the pipeline name from the codebasebranch spec
    - name: pipelineName
      value: $(extensions.pipelines.build)
{{ end }}
