# The init section for github build pipeline
{{- define "github-build-start" -}}
- name: fetch-repository
  taskRef:
    kind: Task
    name: git-clone
  params:
    - name: url
      value: $(params.git-source-url)
    - name: revision
      value: $(params.git-source-revision)
  workspaces:
    - name: output
      workspace: shared-workspace
    - name: ssh-directory
      workspace: ssh-creds
- name: init-values
  taskRef:
    kind: Task
    name: init-values
  runAfter:
    - fetch-repository
  params:
    - name: CODEBASE_NAME
      value: $(params.CODEBASE_NAME)
    - name: BRANCH_NAME
      value: $(params.git-source-revision)
{{- end -}}

# The init section for github code-review pipeline
{{- define "github-review-start" -}}
- name: github-set-pending-status
  taskRef:
    kind: Task
    name: github-set-status
  params:
    - name: REPO_FULL_NAME
      value: $(params.gitfullrepositoryname)
    - name: DESCRIPTION
      value: "Build has started"
    - name: STATE
      value: "pending"
    - name: AUTH_TYPE
      value: Token
    - name: GITHUB_TOKEN_SECRET_NAME
      value: {{ .Values.github.webhook.existingSecret }}
    - name: GITHUB_TOKEN_SECRET_KEY
      value: token
    - name: SHA
      value: $(params.gitsha)
    - name: TARGET_URL
      value: $(params.pipelineUrl)
- name: fetch-repository
  taskRef:
    kind: Task
    name: git-clone
  runAfter:
    - github-set-pending-status
  params:
    - name: url
      value: $(params.git-source-url)
    - name: revision
      value: $(params.git-source-revision)
    - name: refspec
      value: $(params.git-refspec)
  workspaces:
    - name: output
      workspace: shared-workspace
    - name: ssh-directory
      workspace: ssh-creds
- name: init-values
  taskRef:
    kind: Task
    name: init-values
  runAfter:
    - fetch-repository
  params:
    - name: CODEBASE_NAME
      value: $(params.CODEBASE_NAME)
    - name: BRANCH_NAME
      value: $(params.git-source-revision)
{{- end -}}

# final section for github codereview pipelines
{{- define "github-review-vote" -}}
finally:
  - name: github-set-success-status
    when:
      - input: "$(tasks.status)"
        operator: in
        values: ["Succeeded"]
    taskRef:
      kind: Task
      name: github-set-status
    params:
      - name: REPO_FULL_NAME
        value: $(params.gitfullrepositoryname)
      - name: DESCRIPTION
        value: "Build was successful"
      - name: STATE
        value: "success"
      - name: AUTH_TYPE
        value: Token
      - name: GITHUB_TOKEN_SECRET_NAME
        value: {{ .Values.github.webhook.existingSecret }}
      - name: GITHUB_TOKEN_SECRET_KEY
        value: token
      - name: SHA
        value: $(params.gitsha)
      - name: TARGET_URL
        value: $(params.pipelineUrl)
  - name: github-set-failure-status
    when:
      - input: "$(tasks.status)"
        operator: in
        values: ["Failed"]
    taskRef:
      kind: Task
      name: github-set-status
    params:
      - name: REPO_FULL_NAME
        value: $(params.gitfullrepositoryname)
      - name: DESCRIPTION
        value: "Build has failed"
      - name: STATE
        value: "failure"
      - name: AUTH_TYPE
        value: Token
      - name: GITHUB_TOKEN_SECRET_NAME
        value: {{ .Values.github.webhook.existingSecret }}
      - name: GITHUB_TOKEN_SECRET_KEY
        value: token
      - name: SHA
        value: $(params.gitsha)
      - name: TARGET_URL
        value: $(params.pipelineUrl)
{{- end -}}
