{{ if eq .Values.global.gitProvider "gerrit" }}
apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerBinding
metadata:
  name: gerrit-binding-review
  labels:
    {{- include "edp-tekton.labels" . | nindent 4 }}
spec:
  params:
    - name: gitrevision
      value: "FETCH_HEAD"
    - name: gerritproject
      value: "$(body.change.project)"
    - name: gerritrefspec
      value: "$(body.patchSet.ref)"
    - name: buildtool
      value: "$(extensions.spec.buildTool)"
    - name: framework
      value: "$(extensions.spec.framework)"
    # Truncated cbtype type name to reduce string length
    - name: cbtype
      value: "$(extensions.cbtype_short)"
    - name: targetBranch
      value: "$(body.change.branch)"
    - name: changeNumber
      value: "$(body.change.number)"
    - name: patchsetNumber
      value: "$(body.patchSet.number)"
    - name: commitMessagePattern
      value: "$(extensions.spec.commitMessagePattern)"
    - name: codebase
      value: "$(extensions.codebase)"
    - name: codebasebranch
      value: "$(extensions.codebasebranch)"
{{ end }}
