apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: send-to-microsoft-teams
  labels:
    {{- include "edp-tekton.labels" . | nindent 4 }}
spec:
  description: >-
    These tasks post a message to a Microsoft Teams Channel.
    This task uses the Incoming Webhook functionality of Microsoft Teams
  params:
  - name: webhook-url-secret
    type: string
    description: Name of the secret with incoming webhook URL
  - name: webhook-url-secret-key
    type: string
    description: Key in the secret
  - name: message
    type: string
    description: The message to notify about
  steps:
  - name: post
    image: docker.io/curlimages/curl:7.70.0@sha256:031df77a11e5edded840bc761a845eab6e3c2edee22669fb8ad6d59484b6a1c4
    script: |
      #!/usr/bin/env sh
      MESSAGE=$(echo "${MESSAGE}" | sed -e 's/\"/\\\\"/g')
      JSON="{\"text\": \"${MESSAGE}\" }"
      curl -X POST -H 'Content-Type: application/json' -d "${JSON}" "${WEBHOOK_URL}"
    env:
    - name: WEBHOOK_URL
      valueFrom:
        secretKeyRef:
          name: $(params.webhook-url-secret)
          key: $(params.webhook-url-secret-key)
    - name: MESSAGE
      value: $(params.message)
