apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: terraform
  labels:
    app.kubernetes.io/version: "0.1"
  annotations:
    tekton.dev/pipelines.minVersion: "0.17.0"
    tekton.dev/categories: Build Tools
    tekton.dev/tags: build-tool
    tekton.dev/platforms: "linux/amd64,linux/s390x,linux/ppc64le"
spec:
  description: >-
    This task can be used to run opa tests on a project.
  workspaces:
    - name: source
  params:
    - name: PROJECT_DIR
      description: The directory containing terraform files
      type: string
      default: "."
    - name: EXTRA_COMMANDS
      type: string
    - name: BASE_IMAGE
      type: string
      default: epamedp/tekton-tfenv:0.1.0-SNAPSHOT.1
      description: The tfenv image.
    - name: TFENV_TERRAFORM_VERSION
      type: string
      default: "latest"
      description: Terraform version
  steps:
    - name: terraform
      image: $(params.BASE_IMAGE)
      workingDir: $(workspaces.source.path)/$(params.PROJECT_DIR)
      script: |
        set -ex
        $(params.EXTRA_COMMANDS)
      env:
        - name: TFENV_CONFIG_DIR
          value: /tekton/home
        - name: TFENV_TERRAFORM_VERSION
          value: $(params.TFENV_TERRAFORM_VERSION)
