{{ if .Values.pipelines.deployableResources.tasks }}
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: init-autotests
spec:
  description: >-
    This task initializes and triggers autotests for a specified Deployment Flow and Environment by dynamically generating Tekton PipelineRun commands based on autotest configurations.
  workspaces:
    - name: source
      description: The workspace consisting of csharp project.
  volumes:
    - name: autotests-workspace-template
      configMap:
        name: autotests-workspace-template
  params:
    - name: ENVIRONMENT
      type: string
    - name: DEPLOYMENT_FLOW
      type: string
    - name: AUTOTEST_PIPELINES
      default: 'autotest-pipeline'
    - name: codebase_tags
      default: 'codebase_tags'
    - name: parent-pipeline-name
      default: ''
    - name: step_init_autotest_image
      description: "The base image for the task."
      default: "{{ include "edp-tekton.registry" . }}/epamedp/tekton-autotest:0.1.8"
  results:
    - name: AUTOTEST_PIPELINES
      type: string
    - name: codebase_tags
      type: string
  steps:
    - name: init-autotests
      image: $(params.step_init_autotest_image)
      workingDir: $(workspaces.source.path)
      volumeMounts:
        - name: autotests-workspace-template
          mountPath: "/var/configmap"
      env:
        - name: CODEBASE_TAGS
          value: "$(params.codebase_tags)"
        - name: AUTOTEST_PIPELINES
          value: "$(params.AUTOTEST_PIPELINES)"
        - name: ENVIRONMENT
          value: $(params.ENVIRONMENT)
        - name: DEPLOYMENT_FLOW
          value: $(params.DEPLOYMENT_FLOW)
        - name: PARENT_PIPELINE_NAME
          value: $(params.parent-pipeline-name)
      envFrom:
        - configMapRef:
            name: $(params.DEPLOYMENT_FLOW)-$(params.ENVIRONMENT)
      script: |
        #!/usr/bin/env python

        import subprocess
        import json
        import os
        import re

        autotestsList = []
        autotestBuildTool = []
        gitAutotestUrl = []
        autotestsBranch = []
        autotestsStep = []
        pipelines = ""
        applications = []
        tags = []
        codebases = ""
        autotestFramework =[]
        gitSecret = {}

        frameworks = {
          "gradle-java17": "gradle:7.6.5-jdk17",
          "gradle-java21": "gradle:8.11-jdk21",
          "gradle-java25": "gradle:9.2.1-jdk25",
          "maven-java17": "maven:3.9.0-eclipse-temurin-17",
          "maven-java21": "maven:3.9.9-eclipse-temurin-21",
          "maven-java25": "maven:3.9.11-eclipse-temurin-25"
        }
        cdPipelineName = os.getenv('DEPLOYMENT_FLOW')
        stage = os.getenv('ENVIRONMENT')
        parentPipelineName = os.getenv('PARENT_PIPELINE_NAME')
        codebaseFileTags = os.getenv('CODEBASE_TAGS')

        autotests = json.loads(subprocess.check_output(["kubectl", "get", "stages.v2.edp.epam.com", cdPipelineName + "-" + stage, "-o=jsonpath='{.spec}'"]).decode("utf-8").strip("'"))

        for element in autotests["qualityGates"]:
            if element["qualityGateType"] == "autotests":
              autotestGitServer = subprocess.check_output(["kubectl", "get", "codebase", element["autotestName"], "-o=jsonpath='{.spec.gitServer}'"]).decode("utf-8").strip("'")
              gitserver = json.loads(subprocess.check_output(["kubectl", "get", "gitserver", autotestGitServer , "-o=jsonpath='{.spec}'"]).decode("utf-8").strip("'"))
              autotestsList.append(element["autotestName"])
              autotestsBranch.append(element["branchName"])
              autotestsStep.append(f"{cdPipelineName}-{stage}-{element['stepName']}")
              autotest = json.loads(subprocess.check_output(["kubectl", "get", "codebase", element["autotestName"], "-o=jsonpath='{.spec}'"]).decode("utf-8").strip("'"))
              gitAutotestUrl.append("ssh://" + gitserver['gitUser'] + "@" + gitserver['gitHost'] + ":" + str(gitserver['sshPort']) + autotest['gitUrlPath'])
              autotestBuildTool.append(autotest["buildTool"])
              autotestFramework.append(autotest["framework"])

              gitSecret[element["autotestName"]] = gitserver['nameSshKeySecret']

        for count, element in enumerate(autotestsList):
            print("[TEKTON][DEBUG]: Run autotest - autotests-" + autotestBuildTool[count])
            print("[TEKTON][DEBUG]: Autotest URL - " + gitAutotestUrl[count])
            print("[TEKTON][DEBUG]: Autotest branch - " + autotestsBranch[count])
            print("[TEKTON][DEBUG]: Autotest step - " + autotestsStep[count])
            command = "tkn pipeline start autotests-" + autotestBuildTool[count] + " \
            --use-param-defaults \
            --serviceaccount tekton \
            -p git-source-url=" + gitAutotestUrl[count] + " \
            -p git-source-revision=" + autotestsBranch[count] + " \
            -p stage-name=" + stage +" \
            -p cd-pipeline-name=" + cdPipelineName +" \
            -p base-image=" + frameworks[autotestBuildTool[count] + "-" + autotestFramework[count]] + " \
            -p step-name=" + autotestsStep[count] + " \
            --labels app.edp.epam.com/pipeline=" + cdPipelineName + " \
            --labels app.edp.epam.com/stage=" + stage + " \
            --labels app.edp.epam.com/codebase=" + autotestsList[count] + " \
            --labels app.edp.epam.com/branch=" + autotestsBranch[count] + " \
            --labels app.edp.epam.com/parentPipelineRun=" + parentPipelineName + " \
            --workspace name=ssh-creds,secret=" + gitSecret[autotestsList[count]] + " \
            --workspace name=shared-workspace,volumeClaimTemplateFile=/var/configmap/volumeclaimtemplate.yaml"

            result = subprocess.run(command, shell=True, capture_output=True, text=True)
            output = re.search("autotests(-[A-Za-z0-9]*)* ", result.stdout)
            pipelines += output.group() + " "

        autotests_pipelines_file = os.getenv("AUTOTEST_PIPELINES")
        with open(autotests_pipelines_file, "w") as outfile:
            outfile.write(pipelines)

        try:
            listApplications = json.loads(subprocess.check_output(["kubectl", "get", "cdpipeline", cdPipelineName , "-o=jsonpath='{.spec.applicationsToPromote}'"]).decode("utf-8").strip("'"))
            kindApplications = subprocess.check_output(["kubectl", "get", "applications"])

            for element in listApplications:
                output = re.search(cdPipelineName + "-" + stage + "-" + element, str(kindApplications))
                applications.append(output.group())

            print("[TEKTON][DEBUG]: Images to promote:")
            for element in applications:
                print(element)

            for count, element in enumerate(applications):
                temp = subprocess.check_output(["kubectl", "get", "application", element.strip(" ") , "-o=jsonpath='{.spec.source.helm.parameters[0].value}'"]).decode("utf-8").strip("'")
                codebases += listApplications[count] + "=" + temp + " "

            with open(codebaseFileTags, "w") as outfile:
                outfile.write(codebases)

            with open("/tekton/results/" + codebaseFileTags, "w") as outfile:
                outfile.write(codebases)
        except:
            with open("/tekton/results/" + codebaseFileTags, "w") as outfile:
                outfile.write("not-set")
            print("[TEKTON][DEBUG]: No images to promote.")


{{- include "resources" . | nindent 6 }}
{{ end }}
