{{ if .Values.pipelines.deployableResources.tasks }}
{{- $resourceMapping := list "maven" "gradle" -}}
{{- range $k := $resourceMapping }}
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: run-autotests-{{ $k }}
  labels:
    app.kubernetes.io/based-on: "0.2"
    {{- include "edp-tekton.labels" $ | nindent 4 }}
  annotations:
    tekton.dev/pipelines.minVersion: "0.12.1"
    tekton.dev/categories: Autootest Tools
    tekton.dev/tags: autotest-tool
    tekton.dev/platforms: "linux/amd64,linux/s390x,linux/ppc64le"
spec:
  description: >-
    This task runs autotests for a specified stage using either Maven or Gradle based on the provided configuration, extracting and executing the relevant commands from a `run.json` file.
  workspaces:
    - name: source
      description: A workspace that contains the repository.
  params:
    - name: cd-pipeline-name
      type: string
    - name: stage-name
      type: string
    - name: base-image
      type: string
    - name: step-name
      type: string
    - name: ci-nexus
      type: string
      description: name of the secret for the Nexus integration
      default: ci-nexus
  steps:
    - name: run-autotests
      image: "$(params.base-image)"
      volumeMounts:
        {{- if eq $k "maven" }}
        - name: settings-maven
          mountPath: /var/configmap
        {{- else if eq $k "gradle" }}
        - name: settings-gradle
          mountPath: /var/configmap
        {{- end }}
      workingDir: $(workspaces.source.path)
      env:
        - name: CI_USERNAME
          valueFrom:
            secretKeyRef:
              name: $(params.ci-nexus)
              key: username
        - name: CI_PASSWORD
          valueFrom:
            secretKeyRef:
              name: $(params.ci-nexus)
              key: password
        - name: NEXUS_HOST_URL
          valueFrom:
            secretKeyRef:
              key: url
              name: ci-nexus
        - name: STEP_NAME
          value: $(params.step-name)
        - name: BUILD_TOOL
          value: {{ $k }}
      envFrom:
        - configMapRef:
            name: $(params.cd-pipeline-name)-$(params.stage-name)
      script: |
        #!/usr/bin/env bash
        set -euo pipefail

        CMD=$(sed -n "s/.*\"$STEP_NAME\": \"\(.*\)\".*/\1/p" run.json)
        PARAMS=""

        if [[ -z "$CMD" ]]; then
          echo "Command for step-name '$STEP_NAME' not found in run.json"
          exit 1
        fi

        if [[ $BUILD_TOOL == "maven" ]]; then
          PARAMS="-s /var/configmap/settings.xml \
            --batch-mode"
        elif [[ "$BUILD_TOOL" == "gradle" ]]; then
          PARAMS="-I \
            /var/configmap/init.gradle"
        fi

        exec $CMD $PARAMS
  volumes:
    {{- if eq $k "maven" }}
    - configMap:
        name: {{ $.Values.tekton.configs.mavenConfigMap }}
      name: settings-maven
    {{- else if eq $k "gradle" }}
    - configMap:
        name: {{ $.Values.tekton.configs.gradleConfigMap }}
      name: settings-gradle
    {{- end }}
---
{{ end }}
{{ end }}
