apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: build-release
  labels:
    app.kubernetes.io/version: "0.3"
  annotations:
    tekton.dev/pipelines.minVersion: "0.12.1"
    tekton.dev/categories: Build Tools
    tekton.dev/tags: build-tool
    tekton.dev/displayName: "golang build"
    tekton.dev/platforms: "linux/amd64,linux/s390x,linux/ppc64le"
spec:
  params:
    - name: GOOS
      description: "running program's operating system target"
      default: linux
      type: string
    - name: GOARCH
      description: "running program's architecture target"
      default: amd64
      type: string
    - name: GO111MODULE
      description: "value of module support"
      default: auto
      type: string
    - name: GOCACHE
      description: "Go caching directory path"
      default: "$(workspaces.source.path)"
      type: string
    - name: GOMODCACHE
      description: "Go mod caching directory path"
      default: ""
      type: string
    - name: CGO_ENABLED
      description: "Toggle cgo tool during Go build. Use value '0' to disable cgo (for static builds)."
      default: '0'
      type: string
    - name: GOSUMDB
      description: "Go checksum database url. Use value 'off' to disable checksum validation."
      default: ""
      type: string
    - name: extra-commands
      type: string
      description: Extra commands
      default: ""
      type: string
    - name: base-image
      description: "Base image"
      default: "golang:1.20-bullseye"
      type: string
    - name: goproxy
      description: "Go proxy server"
      default: ""
      type: string
  workspaces:
    - name: source
  steps:
    - name: build
      image: $(params.base-image)
      workingDir: $(workspaces.source.path)
      env:
        - name: GOOS
          value: "$(params.GOOS)"
        - name: GOARCH
          value: "$(params.GOARCH)"
        - name: GO111MODULE
          value: "$(params.GO111MODULE)"
        - name: GOCACHE
          value: "$(params.GOCACHE)"
        - name: GOMODCACHE
          value: "$(params.GOMODCACHE)"
        - name: CGO_ENABLED
          value: "$(params.CGO_ENABLED)"
        - name: GOSUMDB
          value: "$(params.GOSUMDB)"
        - name: GOPROXY
          value: "$(params.goproxy)"
      script: |
        set -ex
        $(params.extra-commands)
{{- include "resources" . | nindent 6 }}
