{{ if eq .Values.global.gitProvider "github" }}
apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerBinding
metadata:
  name: github-binding-build
  labels:
    {{- include "edp-tekton.labels" . | nindent 4 }}
spec:
  params:
    - name: gitrevision
      value: "$(body.pull_request.base.ref)"
    - name: gitrepositoryurl
      value: "$(body.repository.ssh_url)"
    - name: gitrepositoryname
      value: "$(body.repository.name)"
    - name: buildtool
      value: "$(extensions.spec.buildTool)"
    - name: framework
      value: "$(extensions.spec.framework)"
    # Truncated cbtype type name to reduce string length
    - name: cbtype
      value: "$(extensions.cbtype_short)"
    - name: versioning-type
      value: "$(extensions.spec.versioning.type)"
    - name: codebase
      value: "$(extensions.codebase)"
    - name: codebasebranch
      value: "$(extensions.codebasebranch)"
    # commitMessage is used for 'push-to-jira' Task
    - name: commitMessage
      value: "$(body.pull_request.title)"
    # commitMessagePattern is used for 'commit-validate' and 'push-to-jira' Tasks
    - name: commitMessagePattern
      value: "$(extensions.spec.commitMessagePattern)"
    # jiraIssueMetadataPayload is used for 'push-to-jira' Task
    - name: jiraIssueMetadataPayload
      value: "$(extensions.spec.jiraIssueMetadataPayload)"
    # ticketNamePattern is used for 'push-to-jira' Task
    - name: ticketNamePattern
      value: "$(extensions.spec.ticketNamePattern)"
    # jiraServer is used for 'push-to-jira' Task
    - name: jiraServer
      value: "$(extensions.spec.jiraServer)"
{{ end }}
