name: Go

on:
  push:
    branches: [ master ]

env:
  GOLANG_VERSION: '1.24'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GOLANG_VERSION }}

    - name: Test
      run: make test-go

    - name: Upload codecov
      uses: codecov/codecov-action@v4
      with:
        file: coverage.out
