name: "Run End-to-end tests"

on:
  push:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  GOLANG_VERSION: '1.24'

jobs:
  e2e-tests-132:
    name: End-to-end tests 1.32
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: "install kuttl"
        run: ./hack/install-kuttl.sh

      - name: "run tests"
        env:
          KUBE_VERSION: "1.32"
        run: make start-kind KUBE_VERSION=$KUBE_VERSION && make e2e
