name: "Run End-to-end tests"

on:
  push:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  GOLANG_VERSION: '1.24'

jobs:
  e2e-tests-131:
    name: End-to-end tests 1.31
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: "install kuttl"
        run: ./hack/install-kuttl.sh

      - name: "run tests"
        env:
          KUBE_VERSION: "1.31"
        run: make start-kind KUBE_VERSION=$KUBE_VERSION && make e2e

      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

  e2e-tests-132:
    name: End-to-end tests 1.32
    needs: [e2e-tests-131]
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: "install kuttl"
        run: ./hack/install-kuttl.sh

      - name: "run tests"
        env:
          KUBE_VERSION: "1.32"
        run: make start-kind KUBE_VERSION=$KUBE_VERSION && make e2e

      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

  e2e-tests-check:
    runs-on: ubuntu-20.04
    if: always()
    needs: [e2e-tests-131, e2e-tests-132]
    steps:
      - name: Print result
        run: echo ${{ needs.e2e-tests-131.result }} && echo ${{ needs.e2e-tests-132.result }}
      - name: Interpret result
        run: |
          if [[ success == ${{ needs.e2e-tests-131.result }} && success == ${{ needs.e2e-tests-132.result }} ]]
          then
            echo "All matrix jobs passed!"
          else
            echo "One or more matrix jobs failed."
            false
          fi
