name: "pull_request"

on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  GOLANG_VERSION: '1.24'

jobs:

  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check Commit Format
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '^(fix|feat|docs|style|refactor|test|chore){1}(\([\w\-\.]+\))?(!)?: .+( (#\d+))?$'
          error: 'Your commit message should be in the format "type: Description (#issue)". Example: "fix: Update build (#33)"'
          excludeDescription: 'true'
          excludeTitle: 'true'
          checkAllCommitMessages: 'true'
          accessToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Line Length
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '.{0,50}'
          error: 'The maximum line length of 50 characters is exceeded.'
          excludeDescription: 'true'
          excludeTitle: 'true'
          checkAllCommitMessages: 'true'
          accessToken: ${{ secrets.GITHUB_TOKEN }}

  helm-docs:
    needs: [check-commit-message]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Make Build
        run: make validate-docs

  helm-lint:
    needs: [helm-docs]
    runs-on: ubuntu-latest
    env:
     CHART_DIR: "charts/common-library,charts/pipelines-library"
     CT_FILE_PATH: "ct/ct.yaml"
     LINTCONF_FILE_PATH: "ct/lintconf.yaml"
     CHART_SCHEMA_FILE_PATH: "ct/chart_schema.yaml"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.0

      - name: Update dependencies
        run: |
            helm repo add epamedp https://epam.github.io/edp-helm-charts/stable \
              --force-update && \
            helm repo update

      - name: Run chart-testing (lint)
        run: |
              ct lint --target-branch ${{ github.event.repository.default_branch }} \
               --charts charts/common-library,charts/pipelines-library/ \
               --config ct/ct.yaml \
               --lint-conf ct/lintconf.yaml \
               --chart-yaml-schema ct/chart_schema.yaml

  build-and-lint:
    needs: [helm-lint]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Make Build
        run: make build

      - name: Make Lint
        run: make lint

  docker-lint:
    needs: [build-and-lint]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run hadolint
        uses: hadolint/hadolint-action@v1.5.0
        with:
          dockerfile: Dockerfile

  e2e-tests-134:
    name: End-to-end tests 1.34
    needs: [docker-lint]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: "install kuttl"
        run: ./hack/install-kuttl.sh

      - name: "run tests"
        env:
          KUBE_VERSION: "1.34"
        run: make start-kind KUBE_VERSION=$KUBE_VERSION && make e2e
